<!-- <h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My Order status is:
  <ul>
    <li>
      <span *ngIf="data.status === 'confirm'">&#10003;</span>Request recievded
    </li>
    <li>
      <span *ngIf="data.status === 'canceled'">&#10003;</span> Unicorn
    </li>
  </ul>
</div> -->
<h2 mat-dialog-title>Confirm Order</h2>
<!-- {{dataa.formValues|json}} -->
<h1> approx. cost of the delivery: {{getCost}}</h1>
<!-- {{this.formService.customerForm.value | json}}
<br>
  {{this.formService.recieverForm.value | json}}
<br>
{{this.formService.packageForm.value | json}}
<br> -->

<mat-dialog-actions align="end">
  <button mat-button (click)="doReset(data)">New Order</button>
  <button mat-button (click)="doClose()">Cancel</button>
  <button mat-button (click)="goForward(data)" cdkFocusInitial>Confirm</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button> -->
</mat-dialog-actions>