.form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
  }
  .h3 {
    text-align: center;
  }
  .full-width {
    width: 100%;
    text-align: center;
  }
  .dimention{
    width: 100%;
    margin-top: 10px;
  }
  td {
    padding-right: 18px;
  }
  button {
    margin-top: 10px;
    margin-left: 20px;
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }