
<h3>Customer Details:</h3>
<form [formGroup]="formGroup" class="form">
<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form"> -->
    <ng-template matStepLabel>Customer Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="recieverName" formControlName="recieverName">
        <mat-error *ngIf="!recieverName.valid && recieverName.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email address" formControlName="recieverEmai">
        <mat-error *ngIf="!formGroup.controls['recieverEmai'].valid && formGroup.controls['recieverEmai'].touched">
          {{ getErrorEmail() }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" matInput placeholder="9675846573" formControlName="telephone2">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br> 
        <br>
        <table class="full-width" cellspacing="0"><tr>
            <td><mat-form-field class="full-width">
                <mat-label>Select city</mat-label>
                <mat-select [formControl]="selectCity2" formControlName="selectCity2" required>
                <mat-option *ngFor="let city of cities" [value]="city.recieverName">
                    {{city.viewName}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="selectCity2.hasError('required')">Please choose an city</mat-error>
            </mat-form-field></td>
            <td><mat-form-field class="full-width">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. Sikar" formControlName="state2">
            </mat-form-field></td>
            <td><mat-form-field class="full-width">
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="zip2">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field></td>
          </tr></table>
          <br>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="address2"></textarea>
      </mat-form-field>
      <br>
    <!-- <app-text-input (outputText)="change($event)"></app-text-input> -->
    <!-- " -->
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
  