  
  <div class="container">

    
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Our company deals with transportaion service all over the contry.</p><br>
      <p class="lead">Yes, this may come as a shock to many, but the India Post is without a doubt one of the most reliable Ecommerce delivery service to date. They have the highest coverage and maximum reliability that has been vouched for by their years of service.</p><br>
      <p>Currently, Even in terms of cost, we provide you as affordable as a logistics service can get. Our pick up costs are nil for consignments that are below 35 kg.</p>
      
      <tr>
        <td width = "319">
         <strong>Service</strong>
        </td>
       <td width = "319">
         <strong>Ratings</strong>
        </td>
        </tr>
       <br>
        <tr>
        <td width = "319">
        <strong> Coverage Area     </strong>
        </td>
        <td width ="319">6/10</td>
        </tr><br>

        <tr>
          <td width = "319">
          <strong> Pickup facility     </strong>
          </td>
          <td width ="319">Very Good</td>
        </tr><br>
        
        <tr>
          <td width = "319">
          <strong> Tracking     </strong>
          </td>
          <td width ="319">7/10</td>
        </tr><br>

        <tr>
          <td width = "319">
          <strong>International Facilities      </strong>
          </td>
          <td width ="319">Yes</td>
        </tr><br>

        <tr>
          <td width = "319">
          <strong>Integration with Shiprocket         </strong>
          </td>
          <td width ="319">Yes</td>
        </tr><br>

    </header>
 
 <style>
      p {
          text-align: center ;;
      }
  </style>

<style>
 tr {
      text-align: center;
  }
</style>
  </div>
  
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
