<div class="container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="check.isCompleted" [editable]="check.isEditable" [stepControl]="step1"><!-- [stepControl]="step1" -->
      <app-step1 [stepper]=stepper [checker]=check></app-step1>
    </mat-step>
    <mat-step [completed]="check.isCompleted" [editable]="check.isEditable" [stepControl]="step2">
      <app-step2 [stepper]=stepper [checker]=check></app-step2>
    </mat-step>
    <mat-step [completed]="check.isCompleted" [editable]="check.isEditable" [stepControl]="step3">
      <app-step3 [stepper]=stepper [checker]=check></app-step3>
    </mat-step>
    <mat-step [editable]="false" [stepControl]="step4">
      <ng-template matStepLabel>Done</ng-template>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Your Order Submitted Successfully</mat-card-title>
          <mat-card-subtitle>Thank You for ordering, Our team will get in touch with you soon.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <div>
        <button mat-raised-button color="accent" (click)="stepper.reset()">New Order</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="diagnostics">
  <!-- {{this.formService.mainForm.value | json}} -->
  {{this.formService.customerForm.value | json}}
  {{this.formService.recieverForm.value | json}}
  {{this.formService.packageForm.value | json}}
  <!-- <div *ngFor="let key of keys()">
    <span *ngIf="myForm[key]">
      <b>{{key}}</b>: {{myForm[key]}}
    </span>
  </div> -->
</div>

